.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #efeae4;
}

.scanner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}