 
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');  

body{
	overflow-x:  hidden;
	font-family: 'Lato', sans-serif;
	color: black;
}

.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    letter-spacing: .1rem;
    color:white !important;
}
.navbar-nav li{
    padding-right: .5rem;
}



header.landing{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background-color:black;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header.landing h1 {
    font-size: 2.25rem;
}
hr.divider {
    max-width: 10.25rem;
    border-width: 0.2rem;
    border-color: #f0860c;
}
.btn{
    margin-top: 30px;
}
/*ABOUT*/
#about{
    background-color: black;
    height: 100%;
    width: 100%;
}
.rounded-circle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 280px;
    width: 280px;
    margin-bottom: 40px;
}
#abouth1{
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    padding-top: 30px;
    margin-left: 40px;
    font-size: 40px;
}
#aboutpara{
    margin-top: 25px;
    margin-left: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}

/*  EDUCATION */
.timeline{
	max-width: 900px;
	
	margin: 0 auto;
}
.timeline-body{
	position: relative;
	
	margin-left: 100px;
	border-radius: 0 8px 8px 0;
}
.timeline-body:after{
	content: '';
	width: 4px;
	height: 100%;
	background-color: #f0860c;
	position: absolute;
	left: -4px;
	top:0;
}
.timeline-item{
	position: relative;			
}
.timeline-item:after{
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border:4px solid #f0860c;
	background-color: white;
	position: absolute;
	left: -12px;
	top: 0px;
	z-index: 9;
}
.time{
	position:absolute;
	left: -90px;
	top: 0px;
	font-size: 15px;
	font-family: 'Fjalla One', sans-serif;
}
.content{
	margin-top: 20px;
	margin-left: 40px;
    padding-bottom: 5px;

}
.title{
	font-weight: 600;
	margin-bottom: 15px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #f0860c;
}


/* SKILLS  */
.skill {
    padding: 1rem 0;
    font-family: 'Roboto Mono', monospace;
}
.skill .progress {
    height: 5px;
}
.skill .progress .progress-bar {
    background-color: #f0860c;
}
.skill-info {
    overflow: hidden;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: .6rem;
}
.skill-info-name {
    float: left;
    font-weight: 500;
    letter-spacing: 1px;
}
.skill-info-per {
    float: right;
}
.skills-title {
    color: black;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
}
.skill:last-of-type {
    margin-bottom: 2rem;
}
.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sticky-footer {
    flex-shrink: none;
    background-color: black;
}
  


@media (min-width: 992px) {
    header.landing {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.landing p {
      font-size: 1.15rem;
    }
    header.landing h1 {
      font-size: 3rem;
    }
}
@media (min-width: 1200px) {
    header.landing h1 {
      font-size: 3.5rem;
    }
}



/*---- AUTHOR : MOUSSAOUI MOHAMMED ---*/
